@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Wallpoet&display=swap');

@tailwind utilities;


html { font-family: "Vollkorn", serif }

.wallpoet{
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}